/*
Theme name: my theme
Version: 1.0.0
Description: my test theme
Author: me
*/

/* --------------- HEADER MENU --------------------- */
body {
    margin: 0;
    background: url('bg_city.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

.header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.521);
    height: 50px;
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}

.header__logo {
    width: 60px;
    height: 35px;
}

.menu-nav-container {
    width: 20%;
}

.menu {
    width: 100%;
    margin: 0;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.menu-item {
    margin-left: 15px;
    list-style-type: none;
}

.menu-item a{
    transition: 0.6s;
    text-decoration: none;
    color: white;
}

.menu-item :hover{
    color: #ddb322 !important;
}
/* --------------- HEADER MENU --------------------- */

/* --------------- FRONT PAGE --------------------- */


.front-page-wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    min-height: 790px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background: url('bg_city.jpg') no-repeat center center fixed;
    background-size: 100% 100%; */
}

.main-info {
    /* display: flex;
    justify-content: flex-end; */
    padding: 0 0 0 80px;
    width: 100%;
    /* color: #ddb322; */
    color: white;
}

.main-info__title {
    padding: 10px 0 0 ;
    background: linear-gradient(rgba(7, 7, 7, 0.233) 60%, rgba(7, 7, 7, 0));
    width: 57%;
    font-size: 50px;
    font-family: Montserrat;
    /* text-align: end; */
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: slategray;
    font-family: Montserrat;
}

/* --------------- FRONT PAGE --------------------- */

/* --------------- CONTACTS --------------------- */

* {
    outline: none;
}

.contact-page-wrapper {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    padding: 40px;
    /* width: 100%; */
    background-color: rgba(7, 7, 7, 0.568);
    display: flex;
    justify-content: center;
}

.contacts_container__left-half {
    width: 300px;
}

.wpcf7 {
    width: 300px;
}

.wpcf7-form p{
    text-align: center;
    font-family: Montserrat;
    color: white;
}

.wpcf7-form-control-wrap {
    width: 300px;
}

.wpcf7-text,
.wpcf7-textarea {
    width: 100%;
    padding: 4px;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 12px;
    border: none;
}

.wpcf7-submit {
    margin-top: 12px;
    width: 50%;
    height: 20px;
    padding: 3px;
}

.wpcf7-form .ajax-loader {
    margin: 0 !important;
    width: 0 !important;
}

.file {
    height: 50px;
}

.wpcf7-file {
    margin-top: 30px;
}

.wpcf7-response-output {
    width: 86%;
    font-family: Montserrat;
    color: white;
}


/* --------------- CONTACTS --------------------- */

/* --------------- BLOG --------------------- */

.blog-wrapper {
    /* position: absolute; */
    margin: 60px auto;
    width: 80%;
    max-width: 760px;
    background-color: rgba(245, 245, 245, 0.952);
    box-sizing: border-box;
    padding: 40px;
}


.blog-title {
    margin-top: 0;
    font-family: Montserrat;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #bd9a1c;
}

.post-container {
    display: flex;
    margin-bottom: 50px;
}

.post-picture {
    width: 50%;
}

.post {
    border: none;
    background-color: #faf4e7;
    box-sizing: border-box;
    padding: 20px;
    font-family: Montserrat;
    max-height: inherit;
    /* height: 100%; */
}

.post a{
    color: rgb(165, 97, 42);
}

.post p {
    font-size: 14px;
}

/* --------------- BLOG --------------------- */
